DATABASE_URL="postgresql://astrofotografia:change-this-password@localhost:5432/astrofotografia?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
MAX_UPLOAD_MB="250"
STORAGE_DRIVER="s3"
S3_ENDPOINT="http://localhost:9000"
S3_PUBLIC_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_BUCKET="astrofotografia"
S3_FORCE_PATH_STYLE="true"
S3_ACCESS_KEY="change-this-access-key"
S3_SECRET_KEY="change-this-secret-key"
POSTGRES_PASSWORD="change-this-database-password"
